createdAt: "2019-05-05T15:55:28.199Z"
updatedAt: "2019-05-07T06:14:09.374Z"
type: "SNIPPET_NOTE"
folder: "888163b6bb8ae21eaf80"
title: "4.1.2 code"
tags: []
description: "4.1.2 code"
snippets: [
  {
    linesHighlighted: []
    name: "contest.java"
    mode: "Java"
    content: '''
      package com.example.boottest.web;
      
      import com.example.boottest.domin.Book;
      import com.example.boottest.service.Bookservice;
      import org.springframework.beans.factory.annotation.Autowired;
      import org.springframework.stereotype.Controller;
      import org.springframework.ui.Model;
      import org.springframework.web.bind.annotation.*;
      
      import java.util.List;
      import java.util.Optional;
      
      @Controller
      public class contest {
        // Web層
        @Autowired private Bookservice bookservice;
      
        @GetMapping("/thy")
        public String s(Model model) {
      List<Book> g=bookservice.findall();   ////就是從資料庫査回資料在放到model裡，thymeleaf模板再取值
      model.addAttribute("c",g);
          return "thymeleaftest";
        }
      }
      
    '''
  }
  {
    linesHighlighted: []
    name: "thymeleaftest.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="en"
            xmlns:th="http://www.w3.org/1999/xhtml">
      <head>
          <meta charset="UTF-8"/>
          <meta http-equiv="X-UA-Compatible"
                content="IE=edge">
          <meta name="viewport"
                content="width=device-width, initial-scale=1">
          <title>Books</title>
          <link th:href="@{/css/bootstrap.min.css}"
                href="../static/css/bootstrap.min.css"
                rel="stylesheet"/>
      </head>
      <body>
      <div>
                  <!--            index：當前迭代索引，從0開始（零）-->
                  <!--            count：到目前為止處理的元素數-->
                  <!--            size：列表中元素的總數-->
                  <!--            偶數/奇數：檢查當前迭代索引是偶數還是奇數-->
                  <!--            first：檢查當前迭代是否是第一個迭代-->
                  <!--            last：檢查當前迭代是否是最後一次迭代-->
          <table th:class="'table table-hover'">
              <tr th:each="f,iter:${c}"
                  th:class="${iter.count}%2==1? 'bg-success'">
                  <td th:text="${f.id}"></td>
                  <td th:text="${f.at}"></td>
                  <td th:text="${f.name}"></td>
                  <td th:text="${f.sex}"></td>
              </tr>
          </table>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      </body>
      </html>
      
      
      
      //////////////////////////////////////////////////////////////////下面拿另一個例子來說明object，就只是改變值的拿取方式而以(可以省掉上面例子中<td th:text="${f.id}"></td>重複打的f.)，不特別再做一個例子
      <body>
      <div class="container"
           style="max-width: 700px;margin-top: 50px;">
          <div class="well">
              <h1 class="page-header">新增一個書單</h1>
              <!--        html name標籤 對應到實體類的元素-->
              <form action="#"
                    method="post"
                    th:action="@{/books}"
                    th:object="${book2}">
                  <div>
                      <input type="hidden"
                             name="id"
                             th:value="*{id}">
      <!--                有個重點，我們Sprint JPA 沒辦法對第0列做update，因為hibernate index從1開始，並沒有第0列-->
                  </div>
                  <div class="form-group">
                      <label for="atn">at</label>
                      <input type="text"
                             name="at"
                             id="atn"
                             class="form-control"
                             th:field="*{at}">
                  </div>
                  <div class="form-group">
                      <label for="namen">name</label>
                      <input type="text"
                             name="name"
                             id="namen"
                             class="form-control"
                             th:field="*{name}">
                  </div>
                  <div class="form-group">
                      <label for="numbern">number</label>
                      <input type="text"
                             name="number"
                             id="numbern"
                             class="form-control"
                             th:field="*{number}">
                  </div>
                  <div class="form-group">
                      <label for="retestn">retest</label>
                      <select name="retest"
                              id="retestn"
                              class="form-control">
                          <option value="開"
                                  th:selected="*{retest}==開">BBBBB
                          </option>
                          <option value="高"
                                  th:selected="*{retest}!=開">AA
                          </option>
                      </select>
                  </div>
                  <p class="text-center">
                      <button class="btn-default"
                              type="submit">提交
                      </button>
                  </p>
              </form>
          </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      </body>
    '''
  }
  {
    linesHighlighted: []
    name: "Bookservice.java"
    mode: "Java"
    content: '''
      package com.example.boottest.service;
      
      import com.example.boottest.domin.Book;
      import com.example.boottest.domin.BookRepository;
      import org.springframework.beans.factory.annotation.Autowired;
      import org.springframework.data.jpa.repository.Modifying;
      import org.springframework.stereotype.Service;
      import org.springframework.transaction.annotation.Transactional;
      
      import java.util.List;
      import java.util.Optional;
      
      @Service
      public class Bookservice {
        // Service層
        @Autowired private BookRepository bookRepository;
      
      
      public List<Book> findall(){
          return bookRepository.findAll();
      }
      }
      
    '''
  }
  {
    linesHighlighted: []
    name: "BookRepository.java"
    mode: "Java"
    content: '''
      package com.example.boottest.domin;
      
      import org.springframework.data.jpa.repository.JpaRepository;
      import org.springframework.data.jpa.repository.Modifying;
      import org.springframework.data.jpa.repository.Query;
      import org.springframework.stereotype.Repository;
      import org.springframework.transaction.annotation.Transactional;
      
      import java.util.List;
      
      public interface BookRepository extends JpaRepository<Book, Long> {
        // interface(接口)層
      
      }
      
    '''
  }
  {
    linesHighlighted: []
    name: "Book.java"
    mode: "Java"
    content: '''
      package com.example.boottest.domin;
      
      import org.springframework.boot.context.properties.ConfigurationProperties;
      import org.springframework.stereotype.Component;
      
      import javax.persistence.Entity;
      import javax.persistence.GeneratedValue;
      import javax.persistence.GenerationType;
      import javax.persistence.Id;
      
      @Entity
      public class Book {
        // 實體類
        @Id
        @GeneratedValue(strategy = GenerationType.AUTO)
        private Long id;
      
        String name;
        String at;
        String sex;
      
        public Book() {}
      
        public String getName() {
          return name;
        }
      
        public void setName(String name) {
          this.name = name;
        }
      
        public String getAt() {
          return at;
        }
      
        public void setAt(String at) {
          this.at = at;
        }
      
        public Long getId() {
          return id;
        }
      
        public void setId(Long id) {
          this.id = id;
        }
      
        public String getSex() {
          return sex;
        }
      
        public void setSex(String sex) {
          this.sex = sex;
        }
      }
      
    '''
  }
]
isStarred: false
isTrashed: false
