createdAt: "2019-05-04T04:42:52.412Z"
updatedAt: "2019-05-04T04:44:46.373Z"
type: "SNIPPET_NOTE"
folder: "888163b6bb8ae21eaf80"
title: "2.1 方法2 code"
tags: []
description: "2.1 方法2 code"
snippets: [
  {
    linesHighlighted: []
    name: "contest.java"
    mode: "Java"
    content: '''
      package com.example.boottest.web;
      
      import com.example.boottest.domin.Book;
      import org.springframework.beans.factory.annotation.Autowired;
      import org.springframework.stereotype.Controller;
      import org.springframework.web.bind.annotation.*;
      
      @Controller
      public class contest {
      
        @GetMapping("/s")
        public String one() {
          return "hi";    //對應hi.html做為模板
        }
      }
      
    '''
  }
  {
    linesHighlighted: []
    name: "hi.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <title>Title</title>
      </head>
      <body>
      test success       ////將會在網頁上顯示test success
      </body>
      </html>
      
    '''
  }
]
isStarred: false
isTrashed: false
