createdAt: "2019-05-19T13:56:11.630Z"
updatedAt: "2019-05-19T13:56:11.630Z"
type: "SNIPPET_NOTE"
folder: "53cae16fc76a6a757354"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: false
