createdAt: "2019-05-03T03:03:59.468Z"
updatedAt: "2019-05-03T03:05:40.591Z"
type: "SNIPPET_NOTE"
folder: "888163b6bb8ae21eaf80"
title: "1.7 code"
tags: []
description: "1.7 code"
snippets: [
  {
    linesHighlighted: []
    name: "application.properties"
    mode: "Properties files"
    content: '''
      server.port=8082
      #server.servlet.context-path=/path
      logging.level.root=WARN
      logging.level.com.ahua.springdemo=Debug
      logging.file=log/mylog
      spring.http.encoding.charset=UTF-8
      server.tomcat.uri-encoding=UTF-8
      
      
      ////若有引入JPA，則應添加，如下方格式程式碼:
      spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
      spring.datasource.url= jdbc:mariadb://127.0.0.1:3306/book?useUnicode=true&characterEncoding=utf-8
      spring.datasource.username= fansofcheer
      spring.datasource.password= cheerstyle
      
    '''
  }
]
isStarred: false
isTrashed: false
