createdAt: "2019-04-05T11:30:25.301Z"
updatedAt: "2019-04-05T11:30:39.525Z"
type: "SNIPPET_NOTE"
folder: "53cae16fc76a6a757354"
title: "@Controller copy"
tags: []
isStarred: false
isTrashed: true
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "text"
    content: ""
  }
]
