createdAt: "2019-05-03T17:17:46.797Z"
updatedAt: "2019-05-03T17:21:01.835Z"
type: "SNIPPET_NOTE"
folder: "888163b6bb8ae21eaf80"
title: "1.10 code"
tags: []
description: "1.10 code"
snippets: [
  {
    linesHighlighted: []
    name: "application.yml"
    mode: "YAML"
    content: '''
      #這個application.yml 是預設會走進來，在此指定要使用的配置檔部分名稱，則會跳轉使用指定之檔案
      spring:
        profiles:
          active: uat
      
    '''
  }
  {
    name: "application-dev.yml"
    mode: "YAML"
    content: '''
      #被指定到的配置檔內容會覆蓋application.yml的配置
      server:
        port: 8082
        servlet:
          context-path: /path
      
      logging:
        level:
          root: WARN
          com:
            ahua:
              springdemo: Debug
        file: log/mylog
      book:
        name: 測試參數DEV
        id: 77777
        at: at參數${random.uuid}
        retest: ${book.name},try it
      
    '''
    linesHighlighted: []
  }
  {
    name: "application-uat.yml"
    mode: "YAML"
    content: '''
      
      server:
        port: 8081
        servlet:
          context-path: /path
      
      #被指定到的配置檔內容會覆蓋application.yml的配置
      logging:
        level:
          root: WARN
          com:
            ahua:
              springdemo: Debug
        file: log/mylog
      book:
        name: 測試參數UAT
        number: 77777
        at: at參數${random.uuid}
        retest: ${book.name},try it
      spring:
        datasource:
          driver-class-name: org.mariadb.jdbc.Driver
          url: jdbc:mariadb://127.0.0.1:3306/book?useUnicode=true&characterEncoding=utf-8
          username: fansofcheer
          password: cheerstyle
      
        jpa:
          hibernate:
            ddl-auto: update
          show-sql: true
      
      
    '''
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: false
