createdAt: "2019-04-05T11:29:51.545Z"
updatedAt: "2019-04-05T11:30:16.728Z"
type: "SNIPPET_NOTE"
folder: "53cae16fc76a6a757354"
title: "@Controller copy"
tags: []
isStarred: false
isTrashed: true
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "text"
    content: ""
  }
]
