createdAt: "2019-05-03T16:37:31.958Z"
updatedAt: "2019-05-03T16:37:41.339Z"
type: "SNIPPET_NOTE"
folder: "888163b6bb8ae21eaf80"
title: "1.8方法2 code copy"
tags: []
isStarred: false
isTrashed: true
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "text"
    content: ""
  }
]
