createdAt: "2019-05-11T17:49:44.205Z"
updatedAt: "2019-05-11T17:49:51.153Z"
type: "SNIPPET_NOTE"
folder: "53cae16fc76a6a757354"
title: "5.1.2 code copy"
tags: []
isStarred: false
isTrashed: true
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "text"
    content: ""
  }
]
