createdAt: "2019-04-19T07:33:35.217Z"
updatedAt: "2019-04-19T07:33:35.217Z"
type: "MARKDOWN_NOTE"
folder: "53cae16fc76a6a757354"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
