createdAt: "2019-05-04T03:49:48.704Z"
updatedAt: "2019-05-04T03:58:15.811Z"
type: "SNIPPET_NOTE"
folder: "888163b6bb8ae21eaf80"
title: "2.2 方法2 code"
tags: []
description: "2.2 方法2 code "
snippets: [
  {
    linesHighlighted: []
    name: "contest.java"
    mode: "Java"
    content: '''
      package com.example.boottest.web;
      
      import com.example.boottest.domin.Book;
      import org.springframework.beans.factory.annotation.Autowired;
      import org.springframework.stereotype.Controller;
      import org.springframework.web.bind.annotation.*;
      
      @RestController
      public class contest {
      
        @RequestMapping(value = "/s",method = RequestMethod.POST)//指定請求型態
        public String one() {
      
          return "hi";
        }
      }
      
    '''
  }
]
isStarred: false
isTrashed: false
