createdAt: "2019-04-13T14:43:07.892Z"
updatedAt: "2019-09-04T08:37:35.332Z"
type: "SNIPPET_NOTE"
folder: "36ef10a205c49c0cdc86"
title: "application.yml使用"
tags: []
description: "application.yml使用"
snippets: [
  {
    linesHighlighted: []
    name: "Hello.java"
    mode: "Java"
    content: '''
      package com.ahua.springdemo.web;
      
      import com.ahua.springdemo.domain.Book;
      import org.springframework.beans.factory.annotation.Autowired;
      import org.springframework.beans.factory.annotation.Value;
      import org.springframework.stereotype.Controller;
      import org.springframework.web.bind.annotation.*;
      
      import java.util.ArrayList;
      import java.util.HashMap;
      import java.util.List;
      import java.util.Map;
      
      //@Controller
      @RestController
      @RequestMapping("/api")
      public class Hello {
      
          @Autowired()
          public Book book;
      
          @GetMapping("/book")
          public Object All(@RequestParam int size, @RequestParam(defaultValue = "0") int page) {
      
              return book;
          }
      }
      
    '''
  }
  {
    linesHighlighted: []
    name: "application.yml"
    mode: "YAML"
    content: '''
      server:
        port: 8081
        servlet:
          context-path: /path
      
      logging:
        level:
          root: WARN
          com:
            ahua:
              springdemo: Debug
        file: log/mylog
      book:
        name: 測試參數
        id: 77777
        at: at參數${random.uuid}
        retest: ${book.name},try it
      
    '''
  }
  {
    linesHighlighted: []
    name: "Book.java"
    mode: "Java"
    content: '''
      package com.ahua.springdemo.domain;
      
      import org.springframework.boot.context.properties.ConfigurationProperties;
      import org.springframework.stereotype.Component;
      
      @Component
      @ConfigurationProperties(prefix = "book")
      public class Book {
      
          String name;
      
          String id;
      
          String at;
      
          public Book() {
          }
      
          public String getName() {
              return name;
          }
      
          public void setName(String name) {
              this.name = name;
          }
      
          public String getId() {
              return id;
          }
      
          public void setId(String id) {
              this.id = id;
          }
      
          public String getAt() {
              return at;
          }
      
          public void setAt(String at) {
              this.at = at;
          }
      }
      
    '''
  }
]
isStarred: false
isTrashed: false
