createdAt: "2019-05-11T18:33:59.890Z"
updatedAt: "2019-05-12T16:14:42.830Z"
type: "SNIPPET_NOTE"
folder: "888163b6bb8ae21eaf80"
title: "5.2.1 code"
tags: []
description: "5.2.1 code"
snippets: [
  {
    linesHighlighted: []
    name: "404.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="en"
            xmlns:th="http://www.w3.org/1999/xhtml">
      <head>
          <meta charset="UTF-8"/>
          <meta http-equiv="X-UA-Compatible"
                content="IE=edge">
          <meta name="viewport"
                content="width=device-width, initial-scale=1">
          <title>book</title>
          <link th:href="@{/css/bootstrap.min.css}"
                href="../../static/css/bootstrap.min.css"
                rel="stylesheet"/>
      </head>
      <body>
      <div class="container">
      <div class="jumbotron">
          <span>您訪問的頁面不存在</span>
          <span>對不起你訪問的資源<code th:text="${#httpServletRequest.getAttribute('javax.servlet.error.request_uri')}"></code></span>
          </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      </body>
      </html>
      
    '''
  }
  {
    name: "500.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="en"
            xmlns:th="http://www.w3.org/1999/xhtml">
      <head>
          <meta charset="UTF-8"/>
          <meta http-equiv="X-UA-Compatible"
                content="IE=edge">
          <meta name="viewport"
                content="width=device-width, initial-scale=1">
          <title>book</title>
          <link th:href="@{/css/bootstrap.min.css}"
                href="../../static/css/bootstrap.min.css"
                rel="stylesheet"/>
      </head>
      <body>
      <div class="container">
      <div class="jumbotron">
          <span>500錯誤</span>
          <span>對不起你訪問的資源<code th:text="${#httpServletRequest.getAttribute('javax.servlet.error.request_url')}"></code></span>
          </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      </body>
      </html>
      
    '''
    linesHighlighted: []
  }
  {
    name: "400.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="en"
            xmlns:th="http://www.w3.org/1999/xhtml">
      <head>
          <meta charset="UTF-8"/>
          <meta http-equiv="X-UA-Compatible"
                content="IE=edge">
          <meta name="viewport"
                content="width=device-width, initial-scale=1">
          <title>book</title>
          <link th:href="@{/css/bootstrap.min.css}"
                href="../../static/css/bootstrap.min.css"
                rel="stylesheet"/>
      </head>
      <body>
      <div class="container">
      <div class="jumbotron">
          <span>400錯誤</span>
          <span>對不起你訪問的資源<code th:text="${#httpServletRequest.getAttribute('javax.servlet.error.request_url')}"></code></span>
          </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      </body>
      </html>
      
    '''
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: false
