createdAt: "2019-05-17T16:18:35.980Z"
updatedAt: "2019-05-17T16:25:28.582Z"
type: "SNIPPET_NOTE"
folder: "888163b6bb8ae21eaf80"
title: "5.2.2 code"
tags: []
description: "5.2.2 code"
snippets: [
  {
    linesHighlighted: []
    name: "Reg.java"
    mode: "Java"
    content: '''
      package com.example.fom.web;
      
      import com.example.fom.domain.Twopass;
      import com.example.fom.domain.UseinterST;
      import com.example.fom.domain.User;
      import com.example.fom.domain.UserRepos;
      import com.example.fom.error.Httpstatus;
      import org.springframework.beans.BeanUtils;
      import org.springframework.beans.factory.annotation.Autowired;
      import org.springframework.stereotype.Controller;
      import org.springframework.ui.Model;
      import org.springframework.validation.BindingResult;
      import org.springframework.validation.FieldError;
      import org.springframework.web.bind.annotation.*;
      
      import javax.validation.Valid;
      import java.util.List;
      
      @Controller
      public class Reg {
        @Autowired private UserRepos userRepos;
      
        @GetMapping("/find/{id}")
        public String findoneu(@PathVariable Long id, Model model) {
          User ui=userRepos.findById(id).orElse(null);//去查一筆資料庫沒有的資料會回500錯誤
          if (ui==null){
              throw new Httpstatus("沒找到錯了錯了");//會在Log裡拋出異常，但是若沒有在繼承RuntimeException的類裡面重新導向Httpstatus的話，就不會導向重新
          }
          model.addAttribute("ui",ui);
          return "find";
        }
      }
      
    '''
  }
  {
    name: "User.java"
    mode: "Java"
    content: '''
      package com.example.fom.domain;
      
      import javax.persistence.Entity;
      import javax.persistence.GeneratedValue;
      import javax.persistence.GenerationType;
      import javax.persistence.Id;
      
      @Entity
      public class User {
      
        @Id
        @GeneratedValue(strategy = GenerationType.AUTO)
        private Long id;
      
        private String username;
      
        private String userpass;
      
        private String phone;
      
        private String email;
      
        public User() {}
      
        public Long getId() {
          return id;
        }
      
        public void setId(Long id) {
          this.id = id;
        }
      
        public String getUsername() {
          return username;
        }
      
        public void setUsername(String username) {
          this.username = username;
        }
      
        public String getUserpass() {
          return userpass;
        }
      
        public void setUserpass(String userpass) {
          this.userpass = userpass;
        }
      
        public String getPhone() {
          return phone;
        }
      
        public void setPhone(String phone) {
          this.phone = phone;
        }
      
        public String getEmail() {
          return email;
        }
      
        public void setEmail(String email) {
          this.email = email;
        }
      
        @Override
        public String toString() {
          return "User{"
              + "id='"
              + id
              + '\\''
              + ", username='"
              + username
              + '\\''
              + ", userpass='"
              + userpass
              + '\\''
              + ", phone="
              + phone
              + ", email='"
              + email
              + '\\''
              + '}';
        }
      }
      
    '''
    linesHighlighted: []
  }
  {
    name: "Httpstatus.java"
    mode: "Java"
    content: '''
      package com.example.fom.error;
      
      import org.springframework.http.HttpStatus;
      import org.springframework.web.bind.annotation.ResponseStatus;
      
      @ResponseStatus(HttpStatus.NOT_FOUND)//不管何種錯誤，獎導向404 not found頁面
      public class Httpstatus extends RuntimeException {
          public Httpstatus() {
          }
      
          public Httpstatus(String message) {
              super(message);
          }
      
          public Httpstatus(String message, Throwable cause) {
              super(message, cause);
          }
      }
      
    '''
    linesHighlighted: []
  }
  {
    name: "find.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="en"
            xmlns:th="http://www.w3.org/1999/xhtml">
      <head>
          <meta charset="UTF-8"/>
          <meta http-equiv="X-UA-Compatible"
                content="IE=edge">
          <meta name="viewport"
                content="width=device-width, initial-scale=1">
          <title>book</title>
          <link th:href="@{/css/bootstrap.min.css}"
                href="../static/css/bootstrap.min.css"
                rel="stylesheet"/>
      </head>
      <body>
      <div class="container">
          <div class="well" th:object="${ui}">
              <h1 th:text="*{username}">a</h1>
              <h1 th:text="*{userpass}">a</h1>
              <h1 th:text="*{email}">a</h1>
              <h1 th:text="*{phone}">a</h1>
          </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      </body>
      </html>
      
    '''
    linesHighlighted: []
  }
  {
    name: "404.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="en"
            xmlns:th="http://www.w3.org/1999/xhtml">
      <head>
          <meta charset="UTF-8"/>
          <meta http-equiv="X-UA-Compatible"
                content="IE=edge">
          <meta name="viewport"
                content="width=device-width, initial-scale=1">
          <title>book</title>
          <link th:href="@{/css/bootstrap.min.css}"
                href="../../static/css/bootstrap.min.css"
                rel="stylesheet"/>
      </head>
      <body>
      <div class="container">
      <div class="jumbotron">
          <span>您訪問的頁面不存在</span>
          <span>對不起你訪問的資源<code th:text="${#httpServletRequest.getAttribute('javax.servlet.error.request_uri')}"></code></span>
          </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      </body>
      </html>
      
    '''
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: false
