createdAt: "2019-04-06T23:56:59.845Z"
updatedAt: "2019-04-07T00:15:30.268Z"
type: "SNIPPET_NOTE"
folder: "36ef10a205c49c0cdc86"
title: "網址 ?param=XXXX 方式傳遞參數(GET Request)"
tags: []
description: "網址 ?param=XXXX 方式傳遞參數(GET Request)"
snippets: [
  {
    linesHighlighted: []
    name: "Hello.java"
    mode: "Java"
    content: '''
      package com.ahua.springdemo.web;
      
      import org.springframework.stereotype.Controller;
      import org.springframework.web.bind.annotation.*;
      
      import java.util.ArrayList;
      import java.util.HashMap;
      import java.util.List;
      import java.util.Map;
      
      //@Controller
      @RestController
      @RequestMapping("/api")
      public class Hello {
          @GetMapping("/book")
          public Object All(@RequestParam int size, @RequestParam int page) {
              //如同PathVariable若無指定名稱，那就得保證網址列傳入的參數等同這裡設定的參數名
              Map<String, Object> book1 = new HashMap<>();
              book1.put("name", "第一本");
              book1.put("id", "00001");
              book1.put("at", "王XX");
              Map<String, Object> book2 = new HashMap<>();
              book2.put("name", "第二本");
              book2.put("id", "00002");
              book2.put("at", "林XX");
              Map<String, Object> book3 = new HashMap<>();
              book3.put("name", "第三本");
              book3.put("id", "00003");
              book3.put("at", "陳XX");
              List<Map> booklist = new ArrayList<>();
              booklist.add(book1);
              booklist.add(book2);
              booklist.add(book3);
              System.out.println("-------------size:" + size);
              return booklist.get(page);
          }
      }
      
    '''
  }
  {
    name: "Hello.java"
    mode: "Java"
    content: '''
      package com.ahua.springdemo.web;
      
      import org.springframework.stereotype.Controller;
      import org.springframework.web.bind.annotation.*;
      
      import java.util.ArrayList;
      import java.util.HashMap;
      import java.util.List;
      import java.util.Map;
      
      //@Controller
      @RestController
      @RequestMapping("/api")
      public class Hello {
          @GetMapping("/book")
          public Object All(@RequestParam int size, @RequestParam(defaultValue ="0") int page) {
              //加入參數page預設值為0
              //如同PathVariable若無指定名稱，那就得保證網址列傳入的參數等同這裡設定的參數名
              Map<String, Object> book1 = new HashMap<>();
              book1.put("name", "第一本");
              book1.put("id", "00001");
              book1.put("at", "王XX");
              Map<String, Object> book2 = new HashMap<>();
              book2.put("name", "第二本");
              book2.put("id", "00002");
              book2.put("at", "林XX");
              Map<String, Object> book3 = new HashMap<>();
              book3.put("name", "第三本");
              book3.put("id", "00003");
              book3.put("at", "陳XX");
              List<Map> booklist = new ArrayList<>();
              booklist.add(book1);
              booklist.add(book2);
              booklist.add(book3);
              System.out.println("-------------size:" + size);
              return booklist.get(page);
          }
      }
      
    '''
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: false
